.animationBouncetoTop {
    animation: aniBounceToTop ease-in-out 1s;
}

@keyframes aniBounceToTop {
    0% {
        opacity: 0;
        margin-left: -50%;
    }
    80% {
        margin-left: 0;
    }
}
