.alert-enter {
    transform: scale(0.1);

    opacity: 0;
}

.alert-enter-active {
    transition: opacity 250ms, transform 250ms;
    transform: translateX(0);

    opacity: 1;
}

.alert-exit {
    opacity: 1;
}

.alert-exit-active {
    transition: opacity 250ms, transform 250ms;
    transform: scale(0.1);

    opacity: 0;
}
