@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;500;600;700&family=Noto+Sans+Hebrew:wght@100;400;500;600;700;800&family=Noto+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.alert-enter {
    opacity: 0;
    transform: scale(0.5);
}
.alert-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms;
}
.alert-exit {
    opacity: 1;
}
.alert-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

.react-toggle {
    touch-action: pan-x;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.react-toggle--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

.react-toggle-track {
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: #DBDEE4;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #e5e7ec;
}

.react-toggle--checked .react-toggle-track {
    background-color: #19ab27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #128d15;
}

.react-toggle-track-check {
    position: absolute;
    width: 14px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    left: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle-track-x {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    right: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
    opacity: 0;
}

.react-toggle-thumb {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    /* border: 1px solid #4d4d4d; */
    border-radius: 50%;
    background-color: #fafafa;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.arc {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1.5s ease-in-out;
}

.react-toggle--checked .react-toggle-thumb {
    left: 27px;
    border-color: #19ab27;
}

/* .react-toggle--focus .react-toggle-thumb {
	-webkit-box-shadow: 0px 0px 3px 2px #0099e0;
	-moz-box-shadow: 0px 0px 3px 2px #0099e0;
	box-shadow: 0px 0px 2px 3px #0099e0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
	-webkit-box-shadow: 0px 0px 5px 5px #0099e0;
	-moz-box-shadow: 0px 0px 5px 5px #0099e0;
	box-shadow: 0px 0px 5px 5px #0099e0;
} */

@layer base {
    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(24px, 0);
        }
    }

    h1 {
        color: var(--text-color-text, #2c2d2e);

        font-size: 44px;
        text-align: left;
        font-style: normal;
        font-weight: 700;
        line-height: 68px;
    }

    h2 {
        color: var(--text-color-text, #2c2d2e);

        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px; /* 131.25% */
    }

    .body {
        color: var(--text-color-text, #2c2d2e);

        /* 1920—1440 px/body */
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 133.333% */
    }

    .button {
        color: var(--text-color-text, #2c2d2e);

        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 133.333% */
    }

    .link {
        color: #005bd1;

        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-decoration-line: underline;

        cursor: pointer;
    }

    h3 {
        color: var(--text-color-text, #2c2d2e);

        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 140% */
    }

    h4 {
        color: var(--text-color-text, #2c2d2e);
        font-feature-settings: "clig" off, "liga" off;

        /* 1920—1440 px/font-h4 */
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px; /* 130% */
    }

    h5 {
        color: var(--text-color-text, #2c2d2e);

        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 133.333% */
    }

    h6 {
        color: var(--text-color-text, #2c2d2e);

        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 125% */
    }

    .footnote {
        color: var(--text-color-text, #2c2d2e);
        font-feature-settings: "clig" off, "liga" off;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"] {
        -webkit-appearance: none;
        margin: 0;
        appearance: textfield !important;
        -moz-appearance: textfield !important;
    }
}

@layer components {
    @media screen and (max-width: 1024px) {
        h1 {
            color: var(--text-color-text, #2c2d2e);

            font-size: 30px;
            line-height: 40px;
        }

        h2 {
            color: var(--text-color-text, #2c2d2e);

            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px; /* 133.333% */
        }

        h6 {
            color: var(--text-color-text, #2c2d2e);

            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px; /* 137.5% */
        }

        h3 {
            color: var(--text-color-text, #2c2d2e);

            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px; /* 136.364% */
        }

        h4 {
            color: var(--text-color-text, #2c2d2e);

            /* 1024 px/font-h4 */
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px; /* 130% */
        }

        h5 {
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; /* 133.333% */
        }

        .link {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            text-decoration-line: underline;
        }

        .body {
            color: var(--text-color-text, #2c2d2e);

            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 133.333% */
        }

        .button {
            color: var(--text-color-text, #2c2d2e);

            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 133.333% */
        }

        .footnote {
            color: var(--text-color-text, #2c2d2e);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 125% */
        }
    }
    @media screen and (max-width: 768px) {
        h1 {
            color: var(--text-color-text, #2c2d2e);

            font-size: 29px;
            font-style: normal;
            font-weight: 700;
            line-height: 39px; /* 134.483% */
        }

        h2 {
            color: var(--text-color-text, #2c2d2e);

            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px; /* 133.333% */
        }

        h3 {
            color: var(--text-color-text, #2c2d2e);

            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px; /* 130% */
        }

        h4 {
            color: var(--text-color-text, #2c2d2e);

            /* 768 px/font-h4 */
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px; /* 137.5% */
        }

        h5 {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 18px; /* 128.571% */
        }

        h6 {
            color: var(--text-color-text, #2c2d2e);

            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px; /* 123.077% */
        }

        .body {
            color: var(--text-color-text, #2c2d2e);

            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 137.5% */
        }

        .link {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; /* 128.571% */
            text-decoration-line: underline;
        }

        .button {
            color: var(--text-color-text, #2c2d2e);

            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px; /* 137.5% */
        }

        .footnote {
            color: var(--text-color-text, #2c2d2e);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; /* 128.571% */
        }
    }
    @media screen and (max-width: 320px) {
        h1 {
            color: var(--text-color-text, #2c2d2e);

            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px; /* 133.333% */
        }

        h2 {
            color: var(--text-color-text, #2c2d2e);
            font-feature-settings: "clig" off, "liga" off;

            /* 320 px/font-h2 */
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px; /* 130% */
        }

        h3 {
            color: var(--text-color-text, #2c2d2e);

            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 133.333% */
        }

        h4 {
            color: var(--text-color-text, #2c2d2e);

            /* 320 px/font-h4 */
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px; /* 137.5% */
        }

        h5 {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 18px; /* 128.571% */
        }

        h6 {
            color: var(--text-color-text, #2c2d2e);

            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px; /* 123.077% */
        }

        .body {
            color: var(--text-color-text, #2c2d2e);

            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 137.5% */
        }

        .link {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; /* 128.571% */
            text-decoration-line: underline;
        }

        .button {
            color: var(--text-color-text, #2c2d2e);

            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px; /* 137.5% */
        }

        .footnote {
            color: var(--text-color-text, #2c2d2e);

            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; /* 128.571% */
        }
    }
}
